@font-face{
    font-family: calculadora;
    src: url(./Calculator.ttf);
}
*{
    max-width: 100%!important;
    overflow-x: hidden!important;
    box-sizing: border-box;
    font-family: "calculadora";
    margin: 0;
}
#contenedor{
    margin: 10px;
}
#pantalla{
    text-align: center;
    font-size: 2em;
}
#pantalla #visualizacion{
    width: 100vw;
    height: 45vh;
    border: 1px solid #000;
    margin: auto;
}
/*--------------------------------------------------------------------*/
#teclas{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 65px 235px;
}
.numeros{
    grid-row-start: 2;
    margin-left: 10%;
}
.numeros #cero{
    width: 40px;
    height: 40px;
}
.numeros #uno{
    width: 40px;
    height: 40px;
}
.numeros #dos{
    width: 40px;
    height: 40px;
}
.numeros#.tres{
    width: 40px;
    height: 40px;
}
.numeros #cuatro{
    width: 40px;
    height: 40px;
}
.numeros #cinco{
    width: 40px;
    height: 40px;
}
.numeros #seis{
    width: 40px;
    height: 40px;
}
.numeros #siete{
    width: 40px;
    height: 40px;
}
.numeros #ocho{
    width: 40px;
    height: 40px;
}
.numeros #nueve{
    width: 40px;
    height: 40px;
}
.numeros #punto{
    width: 40px;
    height: 40px;
    font-size: 2em;
}
.acciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.acciones #reiniciar{
    height: 40px;
    width: 40px;
    margin-top: 7%;
}
.acciones #division{
    margin-top: 7%;
    width: 40px;
    height: 40px;
}
.acciones #borrar{
    margin-top: 7%;
    width: 40px;
    height: 40px;
}
.acciones2{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-row-start: 2;
}
.acciones2 #multi{
    width: 40px;
    height: 40px;
}
.acciones2 #suma{
    width: 40px;
    height: 40px;
}
.acciones2 #resta{
    width: 40px;
    height: 40px;
}
.acciones2 #igual{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/*===========================DESKTOP======================================*/
@media (min-width: 1024px){
    #pantalla .visualizacion{
        height: 20vh;
        width: 80vw;
    }
    #teclas{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 0fr 2fr;
        height: 70vh;
        margin-left: 5%;
        margin-right: 10%;
    }
    .acciones{
        display: flex;
        flex-wrap: wrap;
        grid-row-start: 2;
        grid-column-start: 2;
        height: 30vh;
        margin-top: 30%;
    }
    .acciones2{
        display: flex;
        flex-wrap: wrap;
        grid-row-start: 2;
        grid-column-start: 2;
        height: 30vh;
        margin-top: 70%;
    }
    .acciones #reiniciar{
        height: 80px;
        width: 80px;
        margin-top: 7%;
        font-size: 2em;
    }
    .acciones #division{
        margin-top: 7%;
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .acciones #borrar{
        margin-top: 7%;
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .acciones2 #multi{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .acciones2 #suma{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .acciones2 #resta{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .acciones2 #igual{
        width: 200px;
        height: 80px;
        border-radius: 20px;
        font-size: 2em;
    }
    .numeros #cero{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #uno{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #dos{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #tres{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #cuatro{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #cinco{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #seis{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #siete{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #ocho{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #nueve{
        width: 80px;
        height: 80px;
        font-size: 2em;
    }
    .numeros #punto{
        width: 80px;
        height: 80px;
        font-size: 4em;
    }
    .numeros #nocturno{
        width: 60px;
        height: 60px;
        font-size: 2em;
    }
}